<div class="container-users">
      <% @users.each do |user| %>
        <div class="user-info">
          <img src="<%= user.photo %>" class="img-user">
          <ul class="ul-users">
            <li><%= link_to user.name, user_path(user), class: 'custom-link' %></li>
            <li>Number of posts: <%= user.post_counter %></li>
          </ul>
        </div>
      <% end %>
</div>
