<div class="users-posts">
#this calls the method recent_posts from the user model
<% @user.recent_posts.each do |post| %> 
    <div class="post">
      <h4><%= link_to post.Title, user_posts_path(user_id: post.author_id), class: 'custom-link-s' %></h4>
      <p><%= post.Text %></p>
      <%= render_text_user_section(post.user, post) %>
    </div>
  <% end %>
</div>
