<div class="users-posts">
    <div class="post">
      <%= render_text_section(@post) %>
        <div class="text-author">
        <p><%= @post.Title%> by <%= @post.user.name%></p>
        </div>
        <p>Text: <%= @post.Text %></p>
    </div>
</div>