.container-user {
  justify-content: space-around;
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  padding: 2%;
}

.img-user-s {
  width: 100px;
  border-radius: 10%;
  object-fit: cover;
  margin-bottom: 10px;
  height: 7rem;
}

.ul-user {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  margin: 0;
  width: 90%;
  height: 7rem;
  border: 1px solid rgb(187, 79, 40);
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(12, 12, 12, 0.2);
}

.ul-user li {
  margin-right: 10px;
  margin-right: 5%;
}

/* posts */
.users-posts {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.post {
  display: flex;
  flex-direction: column;
  margin-bottom: 0;
  padding: 2%;
  border: 1px solid black;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  width: 90%;
}

.text {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-right: 2%;
}

.comment-text {
  margin-right: 2%;
}

.ul-comments-box {
  display: flex;
  flex-direction: column;
  margin-top: 0;
  padding: 2%;
  border: 1px solid black;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  width: 90%;
  background-color: #fff;
}

.section-comments {
  color: rgb(6, 44, 102);
  border-bottom: 1px solid #ccc;
}

/* button */
.btn-primary {
  display: block;
  margin: 16px auto 16px auto;
  padding: 8px 16px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
}

.btn-primary:hover {
  background-color: #0056b3;
}

.btn-primary:focus {
  outline: none;
  box-shadow: 0 0 0 2px rgba(0, 123, 255, 0.5);
}

/* cutsom link */
.custom-link-s {
  color: rgb(93, 93, 233);
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s;
}

.custom-link-s:hover {
  color: darkblue;
}
