/* app/assets/stylesheets/users_styles.css */

body {
  background-color: #f5f5f5;
}

ul {
  list-style-type: none;
}

.container-users {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user-info {
  display: flex;
  justify-content: space-between;
  margin: 10px;
  padding: 10px;
  width: 80%;
}

.img-user {
  width: 8rem;
  height: 8rem;
  border-radius: 5%;
  object-fit: cover;
  background-color: white;
}

.ul-users {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  padding: 2%;
  margin: 0;
  width: 85%;
  height: 5rem;
  border: 1px solid rgb(132, 45, 14);
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  color: rgb(132, 45, 14);
  background-color: #f1c5a5;
}

.ul-users li {
  margin-right: 10px;
}

/* custom link */
.custom-link {
  color: rgb(132, 45, 14);
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s; /* Add a smooth color transition on hover */
}

.custom-link:hover {
  color: rgb(85, 52, 14); /* Change the color on hover */
}

/* users availavle */
.users-available {
  color: rgb(6, 44, 102);
  border-bottom: 1px solid #ccc;
  padding-bottom: 10px;
  text-align: center;
}
