.main {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  gap: 1rem;
}

.imgbox {
  height: 100px;
  width: 100px;
}

.my_card {
  display: flex;
  justify-content: space-between;
  height: 60px;
  width: 50%;
  gap: 2.1rem;
  padding: 1.2rem;
}

.box {
  border: solid 1px black;
}

.title {
  padding: 0 0.5rem;
  align-self: center;
}

.posts_counter {
  margin-left: 5rem;
  margin-right: 0.25rem;
  justify-self: flex-end;
  align-self: flex-end;
}

a {
  color: black;
  text-decoration: solid;
}

.info {
  display: flex;
  flex-direction: column;
  gap: 1.1rem;
  padding: 1.1rem 10.1rem;
  width: 65%;
}

.counters {
  padding-right: 1rem;
  align-self: flex-end;
  justify-self: flex-end;
}

.my-btns {
  width: max-content;
  align-self: center;
  border: solid 1px black;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
}

.dis_contt {
  margin: 2rem 4rem;
}

.indexbox {
  width: 66%;
  margin-left: 10rem;
}

.commentsbox {
  display: flex;
  flex-direction: column;
}

.posts_container {
  display: flex;
  justify-content: space-around;
}
